@import '/src/variables.scss';


.todolistheader {
    text-align: left;
    padding-left: 4.5rem;
    margin-top: 8rem;
    font-family: $mainFont;
    font-size: $headerFontSize;
    font-weight: $boldFW;
}

.todolistone {
    text-align: left;
    padding-left: 4.5rem;
    font-family: $mainFont;
    font-size: $mediumFontSize;
    font-weight: $regularFW;
}

.todobutton {
    color: white;
    background-color: #6563EB;
    border-radius: 100px;
    width: 11rem;
    border: none;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    font-size: $smallFontSize;
    font-weight: $boldFW;
    font-family: $mainFont;
}

.todoform {
    text-align: left;
    font-size: $mediumFontSize;
    font-weight: $regularFW;
    font-family: $mainFont;
    height: 3.5rem;
    width: 20rem;
    border: none;
    margin-left: 3rem;
    margin-top: 2rem;
}

.todoformbutton {
    color: white;
    background-color: #6563EB;
    border-radius: 100px;
    width: 9rem;
    border: none;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    font-size: $smallFontSize;
    font-weight: $boldFW;
    font-family: $mainFont;
}


.todoinput {
    padding-left: 3rem;
    padding-top: 2rem;
    font-size: $mediumFontSize;
    font-weight: $regularFW;
    font-family: $mainFont;
}