@import '/src/variables.scss';


.todolistheader {
    text-align: left;
    padding-left: 2.5rem;
    font-family: $mainFont;
    font-size: $headerFontSize;
    font-weight: $boldFW;
}

.todolistone {
    text-align: left;
    padding-left: 4.5rem;
    font-family: $mainFont;
    font-size: $mediumFontSize;
    font-weight: $regularFW;
}

.todobutton {
    color: #6563EB;
    border: none;
    border-radius: 100px;
    width: 9rem;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    font-size: $smallFontSize;
    font-weight: $boldFW;
    font-family: $mainFont;
    margin-top: 2rem;
    left: 85%;
    position: absolute;
    top: 0px;
}

.todoform {
    text-align: left;
    font-size: $mediumFontSize;
    font-weight: $regularFW;
    font-family: $mainFont;
    height: 3.5rem;
    width: 100%;
    border: none;
    margin-left: 3rem;
    border-radius: 3rem;
    z-index: 20px;
    margin-right: 15px;
    padding-left: 20px;
}

.formstyle {
    display: flex;
    align-items: flex-end;
    vertical-align: bottom;
    justify-content: space-between;
    height: 92%;
}

.todoformbutton {
    color: white;
    background-color: #6563EB;
    border-radius: 100px;
    width: 9rem;
    border: none;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    font-size: $smallFontSize;
    font-weight: $boldFW;
    font-family: $mainFont;
    box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.25);
    margin-right: 25px;
}

.todoinput {
    padding-left: 20px;
    padding-top: 2rem;
    font-size: $mediumFontSize;
    font-weight: $regularFW;
    font-family: $mainFont;
    border: none;
    outline: none;
}

.list-form {
    height: 100%;
}

.toDoListFormDashboard {
    height: 100%;
}