@import '/src/variables.scss';


.grade-meaning {
  background-color: white;
  height:35vh;
  border-radius: 3rem;
  width: 55rem;
  position: absolute;
  left: 40%;
  top: 15%;
  z-index: 3;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
    .edit {
      margin-right: 10px;
      z-index:3;
    }
    p{
      text-align: center;
    }
};

.whole-page{
    height: 100%;
    font-family: $mainFont;
    margin-left: $marginLeftRight;
    margin-right: $marginLeftRight;
    background-color: $backgroundWhite;
    border-radius: 42px;
    padding: $marginLeftRight $marginLeftRight $marginLeftRight $marginLeftRight;
}
.mainn-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    
};

.grade {
    display: flex;
    flex-direction: column;  
    align-items: flex-start;
    box-sizing: border-box;
    width:400px;
    height:7.5rem;
    margin-left:0.5rem;
    padding-left: 3rem;
    border: 0.5px solid #FFFFFF;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    text-decoration: none;
    background-color: #F0EFFD;;
  };

  .feedback-image {
    display: flex;
    flex-direction: column;  
    align-items: flex-start;
    box-sizing: border-box;
    width:400px;
    height:36rem;
    margin-left:0.5rem;
    padding-left: 3rem;
    border: 0.5px solid #FFFFFF;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    text-decoration: none;
    background-color: #F0EFFD;;
  };


  .feedback-container{
    text-align: left;
  }
.feedback-grade{
   
}
.result {
    display: flex;
    flex-direction: row;
    margin-left: 48rem;
    
  }
  .grade-meaning{
    font-size: 2rem;
    p {
      align-items: left;
    }
    
  }
  .change-color{
    color: #6563EB;
  }
  