@import '/src/variables.scss';


.Login {
    margin-top: 20%;
    padding-top: 15%;
    padding-bottom: 15%;
    background-color: grey;
}

body{
 background-image: src="login-graphic-mobile-light.svg";
}