@import '/src/variables.scss';



header {
    display: flex;
    flex-direction: column;
    height: 9rem;
    width: fit-content;
    .logo-container {
      display: flex;
      position: fixed;
      z-index: 9;
      background: #6563EB;
      border-radius: 100px;
      width: 11rem;
      height: 4.5rem;
      top: 25px;
      left: $marginLeftRight;
      justify-content: center;
      align-items: center;
      }
    
      .logo {
        font-size: $mediumFontSize;
        font-weight: $boldFW;
        font-family: $mainFont;
        color: $whiteFontColor;
      }
        input + label {
          position: fixed;
          top: 35px;
          right: 40px;
          height: 20px;
          width: 25px; 
          z-index: 5;
          span {
            position: absolute;
            width: 100%;
            height: 2px;
            top: 50%;
            margin-top: -1px;
            left: 0;
            display: block;
            background: $fontColor;
            transition: .5s;
          }
          span:first-child {
            top: 3px; 
          }
          span:last-child {
            top: 16px; 
          }      
        }
        label:hover {
          cursor: pointer;
        }
        input:checked + label { 
          span {
            opacity: 0;
            top: 50%;
          }
          span:first-child {
            opacity: 1;
            transform: rotate(405deg);
          }
          span:last-child {
            opacity: 1;
            transform: rotate(-405deg);
          }
        }
        input ~ nav {
          background: $backgroundLightPurple;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 9rem;
          z-index: 3;
          transition: .5s;
          transition-delay: .5s;
          overflow: hidden;
          > ul {
            position: absolute;
            top: 20%;
            left: 0%;
            right: 10%;
            > li {
              list-style: none;  
              opacity: 0;
              transition: .5s;
              transition-delay: 0s;
              background-color: $backgroundWhite;
              border-radius: 100px;
              height: 4.5rem;
              margin-bottom: 4rem;
              > .link {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-content: center;
                text-decoration: none;
                color: $whiteFontColor;
                font-family: $mainFont;
                font-weight: $boldFW;
                font-size: $mediumFontSize;
                letter-spacing: $letterSpacing;
                color: $fontColor;
                margin-left: 5rem;
                margin-right: 2rem;
                padding-top: 1rem;
              }
            }
          }
        }
        input:checked ~ nav { 
          height: 100%;
          transition-delay: 0s;
          > ul {
            > li {
              opacity: 1;
              transition-delay: .5s;
            }
          }
        } 
    
  }
  
  

    @media (min-width: 850px) {
     header { 
      label {
      display: none
     }
     input{
      display: none;
     }
     input ~ nav {
      display: grid;
      grid-template-columns: 20% 80%;
      transition: none;
      transition-delay: 0s;
       ul {
        display: flex;
        grid-column: 2 / 3;
        right: $marginLeftRight;
        padding: 0;
        gap: 1.5rem;
        flex-direction: row;
        justify-content: space-around;
        img {
          display: none;
          }
        li {
          display: flex;
          opacity: 1;
          justify-items: center;
          margin: 0;
          width: 14rem;
          height: 4rem;
          .link {
            left: 0;
            right: 0;
            padding: 0;
            align-content: center;
            font-size: $smallFontSize;
            margin: auto;
            width: auto;
            text-align: center;
          }
        }
      }
     }
     
     input:checked ~ nav {
      height: 9rem;
     }
    }
    }
  
  
  
    @media (min-width: 1366px) {
      header{
      input ~ nav {
        ul {
          gap: 0rem;
          li{
            width: 18rem;
            .link {
              font-size: $mediumFontSize;
            }
          }
        }
      }
    }
    }
  
  






