@import '/src/variables.scss';

.gallery-container{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap:1vh;

  } 
  @media screen and (min-width: 1200px) {
    .gallery-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    
  }
  @media screen and (min-width: 1200px) {
    .gallery-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
  }
  @media screen and (min-width: 2000px) {
    .gallery-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        gap:3vh;
    }
  }

// .gallery-container{
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     flex-direction: row;
// }

.gallerytxt{
    display: flex;
    margin: 4.5rem;
    font-size: 3.6rem;
    font-weight: normal;


}
.project{
    display: flex;
    position: relative;
    width: 35vh;
    height: 30vh;
    align-items: center;
}

.name{
    position: absolute;
    top: 0;
    color: white;
}

.image {
    width: 35vh;
    height: 30vh;
    object-fit: cover;
    border-radius: 8px;
    transition: ease-in-out 0.3s;
  }
.image:hover{
    filter: brightness(55%);
    }
    .main-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-family: $mainFont;
        margin-left: $marginLeftRight;
        margin-right: $marginLeftRight;
        background-color: $backgroundWhite;
        border-radius: 42px;
        padding: $marginLeftRight $marginLeftRight $marginLeftRight $marginLeftRight;
 
      }

// .main-container{
//     display: flex;
//     flex-direction: column;
//     padding: 10px;
//     padding-left: 40px;
//     padding-right: 40px;
//     justify-content: center;
//     font-family: $mainFont;
//     margin-left: $marginLeftRight;
//     margin-right: $marginLeftRight;
//     background-color: $backgroundWhite;
//     border-radius: 42px;
//     padding: $marginLeftRight $marginLeftRight $marginLeftRight $marginLeftRight;
//     position: relative;
//   }