@import '/src/variables.scss';



.guides-container {
    display: flex;
    flex-direction: column;
    font-family: $mainFont;
    align-items: center;
    gap: 1rem;

    .guide-header {
        font-size: $headerFontSize;
        font-weight: $boldFW;
    }
    .guides-btn {
        text-decoration: none;
        width: 110px;
        height: 34px;
        font-size: $mediumFontSize;
        background: #FFFFFF;
        border: 1px solid #6563eb;
        border-radius: 100px 0px 0px 100px;
    };
    .myreturn-btn {
        text-decoration: none;
        width: 110px;
        height: 34px;
        font-size: $mediumFontSize;
        background: #FFFFFF;
        border: 1px solid #6563eb;
        border-radius: 0px 100px 100px 0px;
    };

    .guide-container {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        width: clamp(20rem, 90%, 40rem);
        height: 12rem;
        border-radius: 15px 15px 0px 0px;
        h1{
            font-size: $largeFontSize;
            font-weight: $boldFW;
            
        }
        h3 {
            font-size: $mediumFontSize;
            font-weight: $regularFW;
        }
    }

    
    .guide-link {
        text-decoration: none;
    }
}
