@import '/src/variables.scss';
.main-container {
  background-color: white;
  justify-content: center;
  height:63vh;
  border-radius: 5rem;
  width: 45rem;
  position: absolute;
  left: 40%;
  top: 15%;
  z-index: 3;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
    .edit {
      margin-right: 10px;
      z-index:3;
    }
};

.form-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  label {
    font-size: 1.4rem;
  }
  textarea {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: none;
    background-color: #F1F1F1;
    resize: none;
    margin-bottom: 1rem;
  }
  button {
    align-self: center;
    width: 7rem;
    color: #FFFFFF;
    background: #6563EB;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
    border-radius: 100px; 
    font-size: 1.6rem;
    border-style: none;
    margin-top: 2rem;
  }
  
}


.sidebar-container {
  width: 30rem;
  position: fixed;
  top: 10rem;
  left: 0;
  padding-top: 1.25rem;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

a {
  color: black;
}

.name {
  font-size: $mediumFontSize;
}

/* The code lines below are used to style the "next up" section */
.next-up {
  font-size: $mediumFontSize;
  position: relative;
  margin-left: 8rem;
  margin-bottom: 0.5rem;
  right: 13rem; 
  width: 242px;  
}

.nextup-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.next {
  display: flex;
  flex-direction: column;  
  align-items: flex-start;
  box-sizing: border-box;
  width:242px;
  height:7.5rem;
  margin-left:0.5rem;
  padding-left: 3rem;
  background: #FFFFFF;
  border: 0.5px solid #FFFFFF;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  text-decoration: none;
}

.module {
  font-size: $mediumFontSize;
  font-weight: $bolderFW;
  margin-bottom: 0;
}


/* The code lines below are used to style the calendar */
.react-calendar {
  width: 242px;
  height: 250px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 0rem;
  border: 0.5px solid #FFFFFF;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  border-radius: 20px;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}
  
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
  
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
  
.react-calendar__tile--now {
  background: #8482EF;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #6563EB;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #D1D0F9;
}
  
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

@media (max-width: 850px) {
  .sidebar-container {
    width: 100vw;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

//The profile popup

.default-profile-picture{
  width: 163px;
  height: 163px;
  object-fit: cover;
  border-radius: 1000px;
}

.URLpicinput{
  border-radius: 30px;
  height:2.2rem;
  border-style: none;
  background-color: #f0efef;
  display: flex;
  justify-content: center;
}
.profileinput{
  margin-left: 1rem;
  margin-right: 1rem;
}
.profiletxt{
  margin-left: 1.5rem;

}
.pictureurl{
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}

.pictureurltxt{
  margin-right: 1rem;
  margin-left: 4rem;
}

.logout{
  display: flex;
  justify-content: flex-end;
  margin-right: 4rem;
  margin-top: 2rem;

@media (min-width: 1660px){
  .sidebar-container {
    width: 35rem;
  }
}}