@import '/src/variables.scss';

// Styling for the status bars on homepage

.dashboard {
    display: flex;
    flex-direction: column;
    background-color: $backgroundWhite;
    border-radius: 4.2rem;
    padding: 2rem 4.5rem 4.5rem 2rem;
    margin: $marginLeftRight;
    text-align: left;
    font-family: $mainFont;
}

.welcome-back {
    font-family: $mainFont;
    font-size: $mainHeaderFontSize;
    font-weight: $boldFW; 
    z-index: 1;
    display: flex;
    padding-top: 3rem;
    padding-left: 4.5rem;
}

.status-header {
    z-index: 1;
    font-size: $headerFontSize;
    font-weight: $boldFW;
    display: flex;
    padding-left: 4.5rem;
    padding-top: 4rem;
}

//status bar
.status-container {
    font-family: $mainFont;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    gap: 2rem;

    .link {
        text-decoration: none;
    }

    .module-info-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;
        
        .module {
            font-size: $mediumFontSize;
            font-weight: $regularFW;
        }

        .module-statistics {
            display: flex;

            h1 {
                font-size: $smallFontSize;
                font-weight: $regularFW;
                color: $grayFontColor;
            }
        }
    }

    .progress-bar-container {
        position: relative;
        display: flex;
        flex-direction: row;
    }

    .progress-bar-finished {
        height: 3.1rem;
        border-radius: 1.8rem;
        z-index: 2;
    }

    .progress-bar-left {
        height: 3.1rem;
        z-index: 1;
        position: absolute;
        width: 100%;
        background: #F1F1F1;
        border-radius: 1.8rem;
    }
}

@media (max-width: 850px) {
    .dashboard {
        display: none;
    }
}

.toDoListBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50vw;
    height: 20vh;
    margin-top: 6rem;
    margin-left: 4.5rem;
    border-radius: 1.5rem;
    background-color: #F1F1F1;
}

.toDoListOneDashboard {
    position: absolute;
    height: 14vh;
    overflow: hidden;
    width: 49vw;
    scroll-behavior: smooth;
    overflow-y: auto;
    padding-left: 2rem;
}
