@import '/src/variables.scss';


.dashboard {
    font-family: $mainFont;
    background-color: $backgroundWhite;
    position: absolute;
    right: 0;
    padding: 0rem;
    margin: 2rem;
    border-radius: 2.625rem;
    top: 9rem;
    width: 110rem;
    height: 100%;
}

.welcome-back {
    font-family: $mainFont;
    font-size: $mainHeaderFontSize;
    font-weight: $boldFW; 
    z-index: 1;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 5rem;
}

//status bar
.status-container {
    font-family: $mainFont;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 2rem;


    .status-header {
        z-index: 1;
        font-size: $headerFontSize;
        font-weight: $boldFW;
        display: flex;
    }

    .link {
        text-decoration: none;
    }

    .module-info-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 1rem;
        margin-right: 1rem;
        

        .module {
            font-weight: $regularFW;
        }

        .module-statistics {
            display: flex;

            h1 {
                font-weight: $regularFW;
                color: $grayFontColor;
            }
        }
    }

    .progress-bar-container {
        position: relative;
        display: flex;
        flex-direction: row;
        margin-bottom: 1.2rem;
    }

    .progress-bar-finished {
        height: 1.8rem;
        border-radius: 1.8rem;
        z-index: 2;
    }

    .progress-bar-left {
        height: 1.8rem;
        z-index: 1;
        position: absolute;
        width: 100%;
        background: #F3FAF0;
        border-radius: 1.8rem;
    }
}