@import '/src/variables.scss';


.modules-container {
    font-family: $mainFont;
    margin-left: $marginLeftRight;
    margin-right: $marginLeftRight;
    background-color: $backgroundWhite;
    border-radius: 42px;
    padding: $marginLeftRight $marginLeftRight $marginLeftRight $marginLeftRight;

    .modules-header {
        z-index: 1;
        font-size: $largeFontSize;
        font-weight: $regularFW;
    }

    .link {
        text-decoration: none;
    }

    .module-info-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 1rem;
        margin-right: 1rem;

        .module {
            font-weight: $regularFW;
        }

        .module-statistics {
            display: flex;

            h1 {
                font-weight: $regularFW;
                color: $grayFontColor;
            }
        }
    }

    .progress-bar-container {
        position: relative;
        display: flex;
        flex-direction: row;
        margin-bottom: 1.2rem;
    }

    .progress-bar-finished {
        height: 30px;
        border-radius: 30px;
        z-index: 2;
    }

    .progress-bar-left {
        height: 30px;
        z-index: 1;
        position: absolute;
        width: 100%;
        background: #F3FAF0;
        border-radius: 30px;
    }
}