@import '/src/variables.scss';

.dashboard {
    font-family: $mainFont;
    background-color: $backgroundWhite;
    position: absolute;
    right: 0;
    padding: 0rem;
    margin: 2rem;
    border-radius: 2.625rem;
    top: 9rem;
    width: 110rem;
    height: 100%;
}

.listheader {
    font-family: $mainFont;
    z-index: 1;
    font-size: $smallFontSize;
    font-weight: $boldFW;
    display: flex;
    padding-left: 4.5rem;
    padding-top: 4rem;
}

.tdl {
    padding-left: 4.5rem;
    font-family: $mainFont;
    text-align: left;
    font-size: $mediumFontSize;
    font-weight: $regularFW;
}