


/* Here are all css variables to use through out the project*/



$mainFont: "";


// font size
$smallFontSize: 1.6rem;
$mediumFontSize: 2rem;
$largeFontSize: 2.4rem;

$letterSpacing:0.2rem;

// font weight
$regularFW: 200;
$bolderFW: 300;

// colors
$fontColor: #000000;
$backgroundColor: #FFFFFF;